/Practica/nbproject/private/
/Practica/build/
/Practica 5 Proyecto/nbproject/private/
/Practica 5 Proyecto/build/
/Practica 3 (copia)/build/
/Practica 3 (copia)/nbproject/private/
/Practica 4/build/
/Practica 4/nbproject/private/
/Papeleria/nbproject/private/